.graph .bar1,table.small td.k2,table.small td.v2,table.large td.k2,table.large td.k3,table.large td.v2,table.large td.v3,table.map td.k3,table.map td.v3
{
	padding-left:2px;
}

.graph .bar24
{
	padding-right:2px;
}

.graph .bars td
{
	height:125px;
	vertical-align:bottom;
	width:34px;
}

.graph .sub td,table.small td.k1,table.small td.k2,table.small td.pos,table.large td.k1,table.large td.k2,table.large td.k3,table.large td.pos,table.tod td.k,table.tod td.pos,table.map td.k1,table.map td.k2,table.map td.k3,table.map td.k4,table.map td.k5,table.map td.k6,table.map td.pos,table.ms td.pos,table.ms td.k
{
	background-color:#E0E0E0;
	color:#999;
	font-weight:bold;
}

.graph .sub td.bold
{
	color:#666;
	font-size:10px;
	font-weight:bold;
}

.graph img
{
	border-color:#e3e3e3;
	border-left-style:solid;
	border-left-width:1px;
	border-right-style:solid;
	border-right-width:1px;
	display:block;
	margin-left:auto;
	margin-right:auto;
	width:15px;
}

.graph table
{
	background-color:#eee;
	border-collapse:collapse;
	border-color:#666;
	border-spacing:0;
	border-style:solid;
	border-width:3px 1px 1px;
	color:#333;
	font-family:"verdana";
	font-size:10px;
	margin-bottom:5px;
	text-align:center;
}

.graph td,.graph th
{
	padding-bottom:2px;
}

.graph th
{
	font-size:10px;
}

.grey
{
	color:#999;
}

a
{
	color:#333;
	font-family:"verdana";
	font-size:10px;
	text-decoration:none;
}

a:hover
{
	color:#000;
	text-decoration:underline;
}

body
{
	background-color:#F9F9F9;
	margin:0 auto;
	width:840px;
}

div.box
{
	clear:both;
	float:left;
	width:840px;
}

div.box p
{
	color:#666;
	font-family:"verdana", sans-serif;
	font-size:10px;
	font-weight:bold;
}

div.graph
{
	float:left;
	margin:10px 15px 5px 0;
}

div.map img
{
	height:5px;
	padding-top:4px;
	vertical-align:top;
}

div.small,div.large,div.box p,div.tod,div.map,div.ms
{
	margin:10px 15px 5px 0;
}

div.small,div.large,div.tod,div.map,div.ms
{
	border-collapse:separate;
	border-color:#666;
	border-style:solid;
	border-width:3px 1px 1px;
	display:inline;
	float:left;
}

div.tod img
{
	float:right;
	height:5px;
	padding:2px 0 3px;
}

html
{
	border:0;
}

input,option,select
{
	border-width:1px;
	font-family:"verdana";
	font-size:10px;
	font-weight:normal;
}

table
{
	border-collapse:collapse;
}

table.large td.k3
{
	width:557px;
}

table.large,table.tod,table.map,table.ms
{
	width:823px;
}

table.map td.k1,table.map td.v1
{
	text-align:right;
}

table.map td.k4
{
	width:54px;
}

table.map td.k5
{
	width:100px;
}

table.map td.k6
{
	width:318px;
}

table.ms td.k
{
	width:151px;
}

table.ms td.pos
{
	width:50px;
}

table.small
{
	width:263px;
}

table.small td.k1,table.large td.k1,table.map td.k1,table.map td.k2
{
	width:80px;
}

table.small td.k1,table.small td.v1,table.large td.k1,table.large td.v1,table.tod td.k,table.tod td.v,table.map td.k2,table.map td.v2,table.ms td.k,table.ms td.v,table.ms td.pos
{
	padding-right:2px;
	text-align:right;
}

table.small td.k2,table.large td.k2,table.map td.k3
{
	width:150px;
}

table.small td.pos,table.large td.pos,table.tod td.pos,table.map td.pos
{
	text-align:center;
	width:25px;
}

table.small,table.large,table.tod,table.map,table.ms
{
	background-color:#EEE;
}

table.tod td.k
{
	width:196px;
}

td
{
	color:#333;
	font-family:"verdana", sans-serif;
	font-size:10px;
	vertical-align:top;
}

th
{
	color:#666;
	font-family:"verdana", sans-serif;
	font-size:10px;
	font-weight:bold;
	padding-left:3px;
	padding-right: 3px;
	text-align:left;
}

th span.left {
	float: left;
}

th span.right {
	float: right;
	font-weight:normal;
	color:#999;
}
