/* Crop quotes and add ellipsis... experimental and ahead of final css3 spec */
.large div,.map div {
	-moz-binding:url('ellipsis.xml#ellipsis');
	-ms-text-overflow:ellipsis;
	-o-text-overflow:ellipsis;
	overflow:hidden;
        text-overflow:ellipsis;
        white-space:nowrap;
}
.large div {
	width:558px;
}
.map div {
        width:325px;
}
